# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/
*.tsbuildinfo

# Environment Variables
.env
.env*.local
!.env.example
active_routes.json

# Datasets & Checkpoints
checkpoints/
*.tar.gz
*.pyc
__pycache__/

# OS
.DS_Store
Thumbs.db
